<!-- <div class="w3-container" id="experiences_page"> -->
    <div id="experiences">
        <h1 class="heading"> <span style="background: cornsilk;"><b> EXPERIENCE </b> </span></h1>
        <hr style="width: 20%;">
        <div class="row">
            <div class="col s6" style="margin-top: 5%;">
                <img src="/assets/wimet_logo.svg">
                <h4> Web Developer </h4>
                <h5> <i> June 2019 - August 2019 </i> </h5>
            </div>
            <div class="col s6">
                <p> While working for Wimet, I helped the startup develop their administration page on their website. They used this
                    page to communicate with their customers and employees, and record their upcoming events.
                    I worked with massive data bases filled with a variety of customer information and developed filters and styling on the website to return the correct information for the staff to analyze. 
                    At Wimet, I was exposed to HTML for the first time, meaning I had to learn everything about it -- in Spanish. Once I felt comfortable enough with HTML,
                    I was inspired to make this website.
                </p>
                <form action="https://wimet.co/" target="_blank">
                        <button class="button" type="submit"><span>  Learn about <b> Wimet </b>  </span></button>
                </form>
            </div>
        </div>

        <hr class="content-divider" style="max-width: 70%; border-color: rgb(177, 169, 169);"> </hr>

        <div class="row">
            <div class="col s6">
                <p> Whether you've stumbled upon this site by accident or are looking to
                    get to know more about me, don't be shy -- take a look around.Whether you've stumbled upon this site
                    by accident or are looking to
                    get to know more about me, don't be shy -- take a look around.Whether you've stumbled upon this site
                    by accident or are looking to
                    get to know more about me, don't be shy -- take a look around.Whether you've stumbled upon this site
                    by accident or are looking to
                    get to know more about me, don't be shy -- take a look around.Whether you've stumbled upon this site
                    by accident or are looking to
                    get to know more about me, don't be shy -- take a look around.Whether you've stumbled upon this site
                    by accident or are looking to
                    ger to know more about me, don't be shy -- take a look around.
                </p>
                <form action="https://www.navco.com/" target="_blank" style="text-align: left;">
                        <button class="button" type="submit"><span>  More about <b> NAVCO</b>  </span></button>
                </form>
            </div>
            <div class="col s6" style="text-align: right; margin-top: 5%">
                <img src="/assets/navco.gif" style="width: 80%">
                <h4> Computer Technician</h4>
                <h5> <i> June 2018 - August 2018 </i> </h5>
            </div>
        </div>
    </div>
</div>