<style>

p {
    font-size: 16px;
}

</style>


<div id="projects">
    <h1 class="heading"><span style="background: aliceblue;"><b> PERSONAL PROJECTS </b></span></h1>
    <hr style="width: 13%;">

    <div class="row">
        <div class="col s6">
            <img src="/assets/navsb_logo.png" style="width: 30%;">
            <h4> Project Lead </h4>
            <h5> <i>April 2019 - June 2019 </i> </h5>
        </div>
        <div class="col s6">
            <p> 
                NavSB is a tool created by a small group to help lost students and visiting families to navigate their way around
                UCSB. Often times, it is frustrating to find your way around a new place, especially on a 
                dense, college campus. Using NavSB, people are able to easily navigate around campus and the Isla
                Vista community and visualize the best route to take. The iOS app provides users an interactive map
                that allows the user to pick a destination, choose either a 2D or augmented reality view, and seamlessly
                shows directions to the destination through guiding lines.
            </p>
            <button class="button" type="submit" data-toggle="modal" data-target="#nav_sb"><span> Explore the <b>
                        features</b> </span></button>

            <!-- Modal -->
            <div class="modal fade" id="nav_sb" role="dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">NavSB</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col s3">
                                <video width="210" height="450" controls>
                                    <source src="/assets/nav_sb1.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="col s3">
                                <video width="210" height="450" controls>
                                    <source src="/assets/nav_sb.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="col s3">
                                <video width="210" height="450" controls>
                                    <source src="/assets/nav_sb3.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="col s3"></div>
                            <video width="210" height="450" controls>
                                <source src="/assets/nav_sb2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col s4">
                                <a href="/assets/final draft project.pdf" download> Download the Draft Report </a>
                            </div>
                            <div class="col s4">
                                <a href="https://github.com/nageplz1/Kiwi-NavSB" target="_blank"> Link to Github </a>
                            </div>
                            <div class="col s4">
                                <a href="#"> View the Presentation </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr class="content_divider" style="max-width: 70%;  border-color: rgb(177, 169, 169);">
    </hr>

    <div class="row">
        <div class="col s6">
            <p> 
                
                After more than a year of learning classroom curiculum, I became eager to finally put my aquired knowledge into a project. So, I joined the Institute of Electronice 
                and Electrical Engineers (IEEE). Here, I started working on this face filter project to try to gain an understanding of computer
                science beyond labs and homework assingments. The face filter is a Java application that recognizes the users face using the OpenCV library
                and masks it using a dog filter. The project is coded in Java so the user interface is easier to manage and implement. I had to learn about the 
                many different aspects of the OpenCV library and how to integrate it into my program without getting and errors. While making this project, I had to
                be diligent and responsible with the personal deadlines I set for myself to make sure the project got completed. 
                
            </p>
            <button class="button" type="submit" data-toggle="modal" data-target="#facefilter"><span> <b> Explore </b> the 
                    face filter </span></button>

        <!-- Modal -->
        <div class="modal fade" id="facefilter" role="dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Face Filter</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col s6">
                            <video width="320" height="240" controls>
                                <source src="/assets/nav_sb1.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="col s6">
                            <video width="320" height="240" controls>
                                <source src="/assets/nav_sb.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <video width="320" height="240" controls>
                                <source src="/assets/nav_sb3.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="col s6"></div>
                        <video width="320" height="240" style="box-align: right;" controls>
                            <source src="/assets/nav_sb2.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col s4">
                            <a href="/assets/final draft project.pdf" download> Download the Draft Report </a>
                        </div>
                        <div class="col s4">
                            <a href="https://github.com/nageplz1/Kiwi-NavSB" target="_blank"> Link to Github </a>
                        </div>
                        <div class="col s4">
                            <a href="#"> View the Presentation </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col s6" style="text-align: center; margin-top: 7%;">
            <h3> Open CV Face Filter </h3>
            <h4> IEEE Member </h4>
            <h5> <i>Janurary 2019 - March 2019 </i> </h5>
        </div>
    </div>
</div>
<!-- </div> -->

<style>
    a.button {
        appearance: button;
        -moz-appearance: button;
        appearance: button;

        text-decoration: none;
        color: initial;
    }

    .modal {
        min-width: 90%;
        min-height: 90%;
    }

    .modal-content {
        min-width: 100%;
        min-height: 100vh;
    }

    .modal-content .row {
        text-align: center;
    }

    .modal-footer a {
        font-size: 20px;
        color: black;
    }
</style>