<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nav SB</title>

    <!-- links and scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/headerFooter.js"></script>
    <link href="/css/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <div id="header"></div>
    <div class="w3-container">
        <hr>
        <h1> Nav SB </h1>
        <hr>

        <div class="row">
            <div class="col s6">
                <h3> Feature Title</h3>
                <p>
                    Description of Feature...
                </p>
            </div>
            <div class="col s6">
                <video width="320" height="240" controls>
                    <source src="/assets/nav_sb.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col s6">

                <video width="320" height="240" controls>
                    <source src="/assets/nav_sb1.mp4" type="video/mp4">
                </video>

            </div>
            <div class="col s6">
                <h3> Feature Title</h3>
                <p>
                    Description of Feature...
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col s6">
                <h3> Feature Title</h3>
                <p>
                    Description of Feature...
                </p>
            </div>
            <div class="col s6"></div>
            <video width="320" height="240" controls>
                <source src="/assets/nav_sb2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="row">
            <div class="col s6">
                <video width="320" height="240" controls>
                    <source src="/assets/nav_sb3.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col s6">
                <h3> Feature Title </h3>
                <p>
                    Description of Feature...
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col s4">
                <a href="/assets/final draft project.pdf" download> Download the Draft Report </a>
            </div>
            <div class="col s4">
                <a href="#"> View the Presentation </a>
            </div>
            <div class="col s4">
                <a href="https://github.com/nageplz1/Kiwi-NavSB" target="_blank"> Link to Github </a>
            </div>
        </div>
    </div>

    <div id="footer"></div>

</body>

</html>